/* GOTO :: BASE STYLES */
* {
  border: 1px dashed black;
}
body {
  width: 100%;
}

.container {
  margin:auto;
}


/* GOTO :: HEADER STYLES */
.header-container {
  margin: auto;
  width:100%;
  height: 50px;
}
.header-logo-area {
  background: red;
  height:100px;
}


/* GOTO :: QUESTION CONTAINER STYLES */


/* GOTO :: ANSWER STYLES */
.hidden-answer {
  display: none;
}
